<?xml version="1.0" encoding ="UTF-8"?>

<!-- ***************************************************************************** -->
<!-- ***********************       EXPLORATION.LAUNCH      *********************** -->
<!-- ***********************     Author: Livio Bisogni     *********************** -->
<!-- *********************** © 2021 Turtley & Turtles Ltd. *********************** -->
<!-- ***************************************************************************** -->

<launch>s
    <!-- Exploration -->
    <node pkg="exploration" type="exploration" name="exploration" output="screen" required="true"/>

</launch>